* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 820px;
    width: 20%;
    float: left;
    width: 20%;
    background-color: bisque;
    text-align: center;
    font-size: x-large;
}

section {
    width: 80%;
    display: inline-block;
    background-color: burlywood;
    height: 820px;
}

section img {
    margin-left: 15px;
}

section p {
    text-align: center;
    font-size: x-large;
}